[*.cs]

indent_style=space
end_of_line=crlf

# CS1591: Missing XML comment for publicly visible type or member
dotnet_diagnostic.CS1591.severity = none

# S3358: Ternary operators should not be nested
dotnet_diagnostic.S3358.severity = none

csharp_style_namespace_declarations=file_scoped:warning