[*.cs]

# CS1591: Missing XML comment for publicly visible type or member
dotnet_diagnostic.CS1591.severity = none

# S3358: Ternary operators should not be nested
dotnet_diagnostic.S3358.severity = none
